$border-color: gray;
$text-color: rgb(95, 86, 86);

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.authors {
  height: 100%;
  width: 400px;
  border:lightcoral 1px solid; // временно
}

.messages {
  height: 100%;
  width: 100%;  
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__menu {
    background-color: rgb(218, 218, 218); // временно
    padding: 10px 0;
    width: 100%;
  }

  &__list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    width: 100%;
    
    & > div {
      padding: 5px;
      margin: 10px;
      border: 1px solid lightgreen;
      
      & > span {
        font-size: 12px;
        color: green;
        font-weight: bold;
      }
    }

    & .bottom-list {
      border: none;
      padding: 0;
      margin: 0;
      height: 1px;
    }
  }

  .sendmessage {
    background-color: rgba(210, 250, 212, 0.603);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: $text-color;

    & > textarea {
      width: 100%;
      border: 1px solid $border-color;
      color: inherit;
      padding: 10px;

      &:focus {
        outline: none;
      }
    }

    & > button {
      margin-left: 10px;
      align-self: center;

      padding: 10px;
      border: 1px solid $border-color;
      color: inherit;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

